<div class="container my-5">
  <div class="row row-cols-1 row-cols-md-2 g-3">
    <% @quotes.each do |quote| %>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <figure>
              <blockquote class="blockquote text-dark">
                <p><%= quote.content %></p>
              </blockquote>
              <figcaption class="blockquote-footer text-dark text-opacity-50">
                Por <cite title="<%= quote.author %>"><%= quote.author %></cite>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
