<div class="py-5 bg-light">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <h1 class="display-4 fw-bold">Quotes App</h1>
      <p class="lead">Gerencie frases famosas na nossa plataforma.</p>
      <%= link_to "#{Quote.count} Frases cadastradas", quotes_path, class: 'btn btn-success btn-lg mt-3' %>
    </div>
  </div>
</div>
