<div class="py-5 bg-light position-relative" style="background-image: url('https://images.unsplash.com/photo-1497633762265-9d179a990aa6'); background-size: cover; background-position: center; background-repeat: no-repeat; min-height: 100vh;">
  <%# Overlay escuro para melhorar o contraste com a imagem de fundo %>
  <div class="position-absolute top-0 start-0 w-100 h-100" style="background-color: rgba(0, 0, 0, 0.5);"></div>

  <div class="row justify-content-center position-relative z-1">
    <div class="col-md-8 text-center text-white">
      <h1 class="display-4 fw-bold">Quotes App</h1>
      <p class="lead">Gerencie frases famosas na nossa plataforma.</p>
      <%= link_to "#{Quote.count} Frases cadastradas", quotes_path, class: 'btn btn-success btn-lg mt-3' %>
    </div>
  </div>
</div>
